.parallax {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    @include tablets {
        display: none;
    }
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: -5%;
    height: 110%;
    width: 110%;
    will-change: transform;
}

.parallax__img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    &--03 {
        width: 20%;
        left: 78%;
        bottom: 60%;
    }
    &--06 {
        width: 20%;
        left: 45%;
        bottom: 50%;
    }
    &--09 {
        width: 75%;
        left: 25%;
    }
}